<my-com
  *ngIf="nodes$ | async as nodes"
  [canHover]="canHover"
  [childKey]="childKey"
  [collapseAllSubject]="collapseAllSubject"
  [content]="content"
  [expandAllSubject]="expandAllSubject"
  [expanded]="expanded"
  [level]="level"
  [nodes]="nodes"
  [pseudoChild]="pseudoChild"
  [selectable]="selectable"
  [showBorder]="showBorder"
  [stretchContent]="stretchContent"
  [trackBy]="trackBy"
  [uniqueField]="uniqueField"
  [openToFieldSubject]="openToFieldSubject"
  [expandedNodes]="expandedNodes"
></my-com>

{{ expandedNodes | json }}

<pre *ngIf="nodes$ | async as nodes">
  {{ nodes | json }}
</pre>
