<button (click)="addNode()">addNode</button>
<button (click)="addNode(nodes[2].child)">addNode 2</button>
<button (click)="emit(expandAll)">expand all</button>
<button (click)="collapseAll.next()">collapsed all</button>
<input [(ngModel)]="input" />
<button (click)="findById()">find by id</button>

<my-tree-view
  [nodes]="nodes"
  [collapseAllSubject]="collapseAll"
  [expandAllSubject]="expandAll"
  [content]="itemContent"
  [expanded]="true"
  [uniqueField]="'id'"
  [openToFieldSubject]="openToFieldSubject"
></my-tree-view>

<ng-template #itemContent let-data>
  {{ data.id }}
</ng-template>

<!-- <pre *ngIf="nodes">
  {{ nodes | json }}
</pre> -->
